/* Estilos CSS comuns a todas as páginas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333; /* Preto */
    color: #fff; /* Branco */
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffd700; /* Dourado */
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff; /* Branco */
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #333; /* Preto */
    color: #ffd700; /* Dourado */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Efeito de transição suave */
}

input[type="submit"]:hover {
    background-color: #000; /* Preto mais escuro ao passar o mouse */
}
